/* LIGHT MODE */
.light {
    --background-color: #808080 !important;      /* Gray background */
    --secondary-background-color: #64ffda1a !important;

    --text-color: #000000 !important;            /* Black text */
    --text-secondary-color: #000000 !important;

    --text-link-color: #000000 !important;       /* Links */
    --primary-color: #801922 !important;         /* Brian Kim name, buttons, highlights */
    --secondary-color: #786868 !important;
}

/* Main page background */
.light > * {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}
/* Search bar text */
.light input,
.light input[type="search"] {
    color: #000000 !important;
}

/* Search bar placeholder text */
.light input::placeholder,
.light input[type="search"]::placeholder {
    color: #000000 !important;
}

/* DARK MODE */
.dark {
    --background-color: #000000 !important;
    --secondary-background-color: #ffffff !important;

    --text-color: #ffffff !important;
    --text-secondary-color: #ffffff !important;

    --text-link-color: #ffffff !important;
    --primary-color: #801922 !important;
    --secondary-color: #786868 !important;
}

/* Search bar text */
.dark input,
.dark input[type="search"] {
    color: #ffffff !important;
}

/* Search bar placeholder text */
.dark input::placeholder,
.dark input[type="search"]::placeholder {
    color: #ffffff !important;
}

.text-secondary {
    color: var(--text-secondary-color) !important;
}

#theme-toggle:focus {
    outline: 0;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    border: none;
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}
